.frame-catalogue-formation {
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  width: 90em;
  min-height: 60em;
}

/*accordion */
.accordion {
  width: 90em;
}

.accordion-button {
  background-color: #ffbf00;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: #ffbf00;
}

/*accordion */
.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}

button {
  height: 5em;
}
*{
  color:rgb(14, 14, 102) !important;
}

