.dashboard-frame {
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  background-color: #c0c0c0;
  width: 90em;
  min-height: 50em;
  padding-left: 2em;
  padding-right: 2em;
}

.btn {
  border-radius: 0 !important;
  box-shadow: none;
  margin: 0.1em;
  background-color: gray;
}
