<div class="frame-detail-formation" *ngIf="formation">
  <div class="left-sidebar">
    <span class="title-formation">
      <h1>{{formation.nomFormation}}</h1>
    </span>

    <p>
      {{formation.contenu}}
    </p>

    <!-- collapse -->
    <div class="collapse-detail-formation">
      <p>
        <a
          class="btn"
          data-bs-toggle="collapse"
          href="#collapseExample"
          role="button"
          aria-expanded="true"
          aria-controls="collapseExample"
        >
          General
        </a>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          Some placeholder content for the collapse component. This panel is
          hidden by default but revealed when the user activates the relevant
          trigger.
        </div>
      </div>

      <p>
        <a
          class="btn"
          data-bs-toggle="collapse"
          href="#collapseExample1"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          Pré-requis
        </a>
      </p>
      <div class="collapse" id="collapseExample1">
        <div class="card card-body">
          Some placeholder content for the collapse component. This panel is
          hidden by default but revealed when the user activates the relevant
          trigger.
        </div>
      </div>

      <p>
        <a
          class="btn"
          data-bs-toggle="collapse"
          href="#collapseExample2"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          Programme détaillé
        </a>
      </p>
      <div class="collapse" id="collapseExample2">
        <div class="card card-body">
          Some placeholder content for the collapse component. This panel is
          hidden by default but revealed when the user activates the relevant
          trigger.
        </div>
      </div>
    </div>

    <!-- collapse -->
  </div>

  <div class="right-sidebar">
    <div class="right-sidebar-div-top">
      <section>
        <h3>Formation inter intreprise</h3>
        <ul>
          <h4>Détails</h4>
          <li><h6>Durée</h6></li>
          <li><h6>Prix</h6>{{formation.prixFormation}}</li>
        </ul>
      </section>

      <hr />
      <h3>Liste des sessions disponibles</h3>

      <div class="session-info" *ngIf="listSession.length > 0">
        <section *ngFor="let session of listSession">
          <mat-radio-group aria-label="Select an option" onload="getDate(session.id)" >
            <mat-radio-button value="1">{{session.debutSession | date: 'shortDate'}} au {{session.finSession | date: 'shortDate'}} a {{session.lieuFormation}}</mat-radio-button>
          </mat-radio-group>
          <button class="btn btn-lg">Inscrivez-vous</button>
        </section>
      </div>
    </div>

    <div class="rightbottombar">
      <button id="btnintra" class="btn btn-lg">
        Formation intra-entreprise
      </button>
    </div>
  </div>
</div>



