<div class="frame-detail-formation">
  <div class="left-sidebar">
    <span class="title-formation"
      ><h1>Way we to center a page vertically and horizontally</h1>
    </span>

    <p>
      Un gâchis qui a été fait ici par le fait que le titre ne précise pas que
      c'est dans le contexte d'un rebase, de sorte que votre question est en
      puisant dans les Googlers qui sont l'obtention de cette erreur dans
      différents contextes et upvoting une réponse qui n'est pas réellement
      s'appliquer à la question que vous avez posée. Il ne peut pas être
      nettoyés facilement, de sorte que les incohérent Q&Une paire de rester sur
      le site et haut dans les résultats de recherche Google à jamais. La morale
      de l'histoire est que les titres des questions d'importance! Un gâchis qui
      a été fait ici par le fait que le titre ne précise pas que c'est dans le
      contexte d'un rebase, de sorte que votre question est en puisant dans les
      Googlers qui sont l'obtention de cette erreur dans différents contextes et
      upvoting une réponse qui n'est pas réellement s'appliquer à la question
      que vous avez posée. Il ne peut pas être nettoyés facilement, de sorte que
      les incohérent Q&Une paire de rester sur le site et haut dans les
      résultats de recherche Google à jamais. La morale de l'histoire est que
      les titres des questions d'importance!
    </p>

    <!-- collapse -->
    <div class="collapse-detail-formation">
      <p>
        <a
          class="btn"
          data-bs-toggle="collapse"
          href="#collapseExample"
          role="button"
          aria-expanded="true"
          aria-controls="collapseExample"
        >
          General
        </a>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          Some placeholder content for the collapse component. This panel is
          hidden by default but revealed when the user activates the relevant
          trigger.
        </div>
      </div>

      <p>
        <a
          class="btn"
          data-bs-toggle="collapse"
          href="#collapseExample1"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          Pré-requis
        </a>
      </p>
      <div class="collapse" id="collapseExample1">
        <div class="card card-body">
          Some placeholder content for the collapse component. This panel is
          hidden by default but revealed when the user activates the relevant
          trigger.
        </div>
      </div>

      <p>
        <a
          class="btn"
          data-bs-toggle="collapse"
          href="#collapseExample2"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          Programme détaillé
        </a>
      </p>
      <div class="collapse" id="collapseExample2">
        <div class="card card-body">
          Some placeholder content for the collapse component. This panel is
          hidden by default but revealed when the user activates the relevant
          trigger.
        </div>
      </div>
    </div>

    <!-- collapse -->
  </div>

  <div class="right-sidebar">
    <div class="right-sidebar-div-top">
      <section>
        <h3>Formation inter intreprise</h3>
        <ul>
          <h4>Détails</h4>
          <li><h6>Durée</h6></li>
          <li><h6>Prix</h6></li>
        </ul>
      </section>

      <hr />
      <h3>Liste des sessions disponibles</h3>

      <div class="session-info">
        <section>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Session 1</mat-radio-button>
            <mat-radio-button value="2">Session 2</mat-radio-button>
            <mat-radio-button value="1">Session 3</mat-radio-button>
            <mat-radio-button value="2">Session 4</mat-radio-button>
            <mat-radio-button value="1">Session 5</mat-radio-button>
          </mat-radio-group>
          <button class="btn btn-lg">Inscrivez-vous</button>
        </section>
      </div>
    </div>

    <div class="rightbottombar">
      <button id="btnintra" class="btn btn-lg">
        Formation intra-entreprise
      </button>
    </div>
  </div>
</div>



