<!-- <p>navbar works!</p> -->
<div class="navbar">
  <h2><span class="logo-big-letter-r">R</span><span class="logotext-r">ED</span>
      <span class="logo-big-letter-l">L</span><span class="logotext-l">INE</span></h2>

  <div class="wrap-searchbar">
      <div class="search">
         <input type="text" class="searchTerm" placeholder="mot-cle,formation">
         <button type="submit" class="searchButton">
          <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
          <!-- il faut importer angular material button -->
          Recherche
        </button>
      </div>
  </div>

  <div class="navbuttons-group">
      <a  href="#">ACCEUIL</a>
      <div class="navbarmega">
          <div class="dropdown">
            <a class="dropbtn">COURCES</a>
            <div class="dropdown-content">
              <div class="row">
                <div class="column">
                  <h3>Category 3</h3>
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
                <div class="column">
                  <h3>Category 2</h3>
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
                <div class="column">
                  <h3>Category 1</h3>
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </div>
            </div>
          </div>
    </div>
    <a  href="#">CONTACT</a>
    <a  href="#">ESPACE CLIENT </a>
  </div>
</div>

