.topbar div {
  padding-left: 5em;
}
.navbar {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding-top: 1px;
  height: 7em;
  width: 100%;
  background-color: white;
  border-bottom: solid #240c61 1px;
}

.logotext-l {
  color: blue;
}

.logotext-r {
  color: red;
  /*  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
}

.logo-big-letter-r {
  /* font-size: 2em; */
  color: red;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo-big-letter-l {
  font-size: 2em;
  color: blue;
}

.navbuttons-group {
  width: 30em;
  display: flex;
  justify-content: space-between;
}

.navbuttons-group a {
  text-decoration: none;
  color: #240c61;
}

.searchbar {
  height: 4.5em;
  width: 40em;
  border: solid 2px #240c61;
  /* background-color: gray; */
}

.wrap-searchbar {
  color: #240c61;
}

/*searchbar button*/
.mat-button {
  height: 4em;
}

/*meganavbar*/
.navbar .megamenu {
  padding: 1rem;
}
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .has-megamenu {
    position: static !important;
  }
  .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
  }
}
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media (max-width: 991px) {
  .navbar.fixed-top .navbar-collapse,
  .navbar.sticky-top .navbar-collapse {
    overflow-y: auto;
    max-height: 90vh;
    margin-top: 10px;
  }
}
/*finish meganavbar*/
