<!-- <p>home works!</p> -->
<app-topbar></app-topbar>
<app-navbar></app-navbar>

<div class="framebar">
  <div class="framebar-frame-size-div">
    <img class="cover-image" src="https://portfolio.gourgen-khachatrian.fr/img/home.jpg" >
  </div>
  <div class="top-left-img-message"><span class="home-on-image-title">Trouver une formation a distance ou en presentiel
  </span><p>Wikipédia est l’un des sites internet les plus visités au monde.
           Le commerce n’a rien de monstrueux et la publicité n’est pas un mal en soi. Mais ni l'un ni l'autre n’ont leur place ici. Nous n'en voulons pas sur Wikipédia.
             Wikipédia est un outil particulier. À la manière d'une bibliothèque ou d'un jardin public, il s'agit d'un refuge pour l’esprit.
          C’est un endroit que chacun peut visiter pour avancer dans sa réflexion, apprendre ou partager ses connaissances
  </p></div>
  <div class="img-button-big">NOS COURSES</div>

</div>

<app-footer></app-footer>
