<div class="framebar">
  <div class="framebar-frame-size-div">
    <img class="cover-image" src="assets/img/home.jpg" />
  </div>
  <div class="top-left-img-message">
    <span class="home-on-image-title"
      >Chez iT-Training venez comme vous êtes, nous nous chargeons du reste!
    </span>
    <p>
      Trouver une formation qui nous plaise ne devrait pas relever de l'impossible. Chez iT-Training nous nous sommes donné pour mission
      de trouver pour vous la formation qui vous correspond. Que vous sachiez déjà dans quel domaine vous voulez vous formée ou non
      nos experts se chargeront de vous diriger du mieux possible.
    </p>
    <a routerLink="/catalogue"
      ><div class="img-button-big">CATALOGUE DE FORMATION</div></a
    >
  </div>
</div>
