.frame-espace-client {
  display: flex;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  width: 90em;
  min-height: 60em;
  background-color: #c0c0c0;
}
.leftbar {
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 29.7em;
  min-height: 60em;
  background-color: #c0c0c0;
}
.rightbar {
  width: 60em;
  margin-top: 3px;
  margin-bottom: 3px;
  min-height: 59em;
  background-color: white;
}
.material-icons {
  font-size: 150px;
}

.leftbar .btn {
  border-radius: 0 !important;
  margin-top: 1em;
  background-color: gray;
  width: 29em;
  height: 5em;
  text-align: left;
  outline: none !important;
  box-shadow: none;
}
.leftbar-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;

  height: 20em;
  width: 29em;
}
hr {
  height: 2px;
  width: 50%;
  border-width: 1px;
  color: black;
}
.rightbar-table-frame {
  margin: 5em;
  height: 10em;
  width: 50em;
}

.rightbar-table-frame h2 {
  text-align: center;
  margin-bottom: 5em;
  margin-top: 4em;
}

.semaine {
  width: 2em;
}
.duree {
  width: 5em;
}

.cours {
  width: 20em;
}
