<div class="frame-espace-client">
  <div class="leftbar">
    <span class="material-icons"> account_circle </span>
    <h2>Bonjour</h2>
    <h1>David Copperfield</h1>
    <hr />
    <h3>Session en cours N°123</h3>
    <h5>En présentiel</h5>
    <h5>de 9h00 à 17h00</h5>
    <h6>--- jours restants</h6>
    <button class="btn"><h3>Mon planning</h3></button>
    <button class="btn"><h3>Ma formation</h3></button>
    <button class="btn"><h3>Mes coordonnées</h3></button>

    <div class="leftbar-footer">
      <h3>Contact formateur</h3>
      <h5>Caroline Martin</h5>
      <h5>caroline.martin@ittraining.fr</h5>

      <hr />

      <h3>Contact responsable de formation</h3>
      <h5>Emilie Leclercq</h5>
      <h5>emilie.leclercq@ittraining.fr</h5>
    </div>
  </div>

  <div class="rightbar">
    <div class="rightbar-table-frame">
      <h2>PLANNING DE FORMATION</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="semaine" scope="col">Semaine</th>
            <th class="duree" scope="col">Durée</th>
            <th class="cours" scope="col">Cours</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>33</td>
            <td>5 jours</td>
            <td>MS Data analyst</td>
          </tr>
          <tr>
            <td>34</td>
            <td>5 jours</td>
            <td>MS Chef de projet en informatique</td>
          </tr>
          <tr>
            <td>35</td>
            <td>2 jours</td>
            <td>Licence Informatique en alternance</td>
          </tr>
          <tr>
            <td>36</td>
            <td>5 jours</td>
            <td>Testeur Logiciel</td>
          </tr>
          <tr>
            <td>37</td>
            <td>5 jours</td>
            <td>Développeur FRONT END</td>
          </tr>
          <tr>
            <td>38</td>
            <td>5 jours</td>
            <td>Développeur(euse) Web et Web mobile</td>
          </tr>
          <tr>
            <td>39</td>
            <td>4 jours</td>
            <td>Développeur JAVA EE - Certification IT</td>
          </tr>
          <tr>
            <td>40</td>
            <td>5 jours</td>
            <td>Développeur Backend</td>
          </tr>
          <tr>
            <td>41</td>
            <td>5 jours</td>
            <td>Développeur Frontend / Méthode Scrum</td>
          </tr>
          <tr>
            <td>42</td>
            <td>5 jours</td>
            <td>Formation développeur REACTJS</td>
          </tr>
          <tr>
            <td>43</td>
            <td>5 jours</td>
            <td>Formation diplômante de développeur</td>
          </tr>
          <tr>
            <td>44</td>
            <td>5 jours</td>
            <td>Devenir Développeur back et front end</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

