<div class="frame-detail-contact" >

  <div class="top-div">
    <h1>CONTACT</h1>
  </div>

  <div class="middle-div">
    <div class="middle-div-phone"><h3>Téléphone  :  0685201420</h3></div>
    <h6>Standard ouvert du lundi au vendredi de 8h00 a 19h00</h6>
    <div class="middle-div-email"><h3>E-mail  :  service-client@ittraining.fr</h3></div>
    <div class="middle-div-adresse"><h2>Adresse :</h2></div>
    <h4>IT Trainig <br>1 Rue de la Fidélité  <br>59200 Lille</h4>
  </div>

    <div class="bottom-div">
      <h1>Formulaire de contact</h1>
      <form>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label for="input-mail-adresse"><h4>Email</h4>
              <input type="text" id="input-mail-adresse" class="form-control" placeholder="Votre adresse email" aria-label="" aria-describedby="basic-addon1">
            </label>
          </div>
          <div class="input-group-prepend">
            <label for="input-message"><h4>Message</h4>
            <textarea type="text" id="input-message" class="form-control" placeholder="Message" aria-label="" aria-describedby="basic-addon2"></textarea>
          </label>
          </div>
        </div>
        <button class="btn btn-outline-secondary btn-lg" type="submit">Envoyer</button>
      </form>
</div>
