.btn{
  border-radius: 0 !important;
  box-shadow: none;
  margin: 0.1em;

  background-color:gray;
 }
.close{
  width: 25.4em;
  background-color: lightgreen;
}

.alert{
  background-color: #4a544d;
  border-color:  black ;
}
input{
  border-radius: 0 !important;
}

#update-btn-2{
  background-color: green !important;
}

#update-btn-1{
  background-color: gray !important;
}

#delete-btn{
  background-color: red!important;
}
